div{
     font-family: 'Montserrat', sans-serif;
}

label{
     font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
}
th{
     font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
}
p{
     font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
}