
@media (min-width: 320px) and (max-width: 600px) {
.headinssub{
    font-size: 14px;
}
.mainshow{
    padding-right: 40px;
    padding-left: 10px;
    margin-top: 10px;
}
.listintents{
    padding-left: 10px;
}
}
@media (min-width: 601px) and (max-width: 3000px) {
    .mainshow{
        margin-top: 20px;
        padding-left: 50px;
    }
    .listintents{
        padding-left: 50px;
    }

}